/* hero section */
.hero {
    background-color: #f1c40f;
    padding: 50px;
    text-align: center;
    color: white;
  }
  
  .hero h1,
  .hero h2 {
    color: azure;
  }
  
  /* item section */
  .container {
    margin-top: 50px;
  }
  
  .row {
    margin: 20px;
  }
  
  .row .card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .row .card:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  
  
  .row .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .row .card-title {
    font-size: 24px;
  }
  
  .row .card-subtitle {
    margin-top: 5px;
    color: #6c757d;
  }
  
  .row .card-text {
    margin-top: 15px;
    flex-grow: 1;
  }
  
  .row .card-link {
    flex-basis: 0;
    margin-top: auto;
  }
  